h3 {
    padding: 15px 0;
}

ul {
    list-style-type: none;
}

li.list-group-item {
    cursor: pointer;
}

li.empty {
    color: #aaa;
}

.selected {
    background: #237cd4;
    color: #fff;
}

small {
    color: #aaa;
}

.text-header {
    font-weight: bold;
    color: #fff;
}
