<ul class="nav justify-content-end">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" [title]="user.cardHolder?.fullName" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {{ user.userName }}
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">{{ user.cardHolder?.fullName }}</a>
        </div>
    </li>
</ul>

<div class="container">
    <h3>
        <i class="fa fa-exchange"></i>
        MelonPay
        <small>simple wallet-to-wallet payment system</small>
    </h3>

    <div class="row">
        <div *ngIf="user" class="col-md-4">
            <ul class="list-group">
                <li *ngFor="let wallet of user.cardHolder.wallets"
                    (click)="selectWallet(wallet.id)"
                    [class.selected]="selectedId === wallet.id"
                    class="list-group-item list-group-item-action">
                    <i class="fa fa-credit-card"></i>
                    {{ wallet.currency.code }}{{ wallet.id }}
                    ({{ wallet.currency.name }})
                    <span class="pull-right">{{ wallet.balance }} <small>{{ wallet.currency.code }}</small></span>
                </li>
            </ul>
        </div>

        <div class="col-md-8">
            <div *ngIf="visible" class="card border-primary">
                <div class="card-header bg-primary text-header">
                    <i class="fa fa-file-o"></i>
                    Счета
                </div>
                <div *ngIf="invoices$ | async as invoices" class="card-body">
                    <ul>
                        <li><i class="fa fa-arrow-circle-up text-danger"></i><b> Исходящие</b></li>
                        <li *ngIf="!invoices.sended?.length" class="empty">Список пуст</li>
                        <li *ngFor="let sended of invoices.sended">
                            <span class="text-danger">
                                -{{ sended.amount }} {{ sended.toWallet.currency.code }}
                            </span>
                            <span style="padding:0 15px"><small>{{ sended.comment }}</small></span>
                            <span class="pull-right"><small>
                                <i class="fa fa-check text-primary"></i> 
                                {{ sended.createdAt | date:'dd.MM.yyyy HH:mm:ss' }}
                            </small></span>
                        </li>
                    </ul>
                    <ul>
                        <li><i class="fa fa-arrow-circle-down text-success"></i><b> Входящие</b></li>
                        <li *ngIf="!invoices.received?.length" class="empty">Список пуст</li>
                        <li *ngFor="let received of invoices.received">
                            <span class="text-success">
                                +{{ received.amount }} {{ received.toWallet.currency.code }}
                            </span>
                            <span style="padding:0 15px"><small>{{ received.comment }}</small></span>
                            <span class="pull-right"><small>
                                <i class="fa fa-check text-primary"></i> 
                                {{ received.createdAt | date:'dd.MM.yyyy HH:mm:ss' }}
                            </small></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
